@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(/resources/fonts/fonts.gstatic.com_s_lato_v11_nj47mAZe0mYUIySgfn0wpQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(/resources/fonts/fonts.gstatic.com_s_lato_v11_4cKlrioa77J2iqTqBgkRWg.ttf) format('truetype');
}
